@font-face {
  font-family: Atlas Grotesk;
  src: url('../fonts/AtlasGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.band {
  fill: #efefef;
  stroke-opacity: 1;
  stroke: #888;
  stroke-dasharray: 8 10;
}

.yourpath {
  fill: #008000;
  stroke-width: 2px;
}

.area {
  transform: translateX(1px);
}

.below {
  fill: #fdbb84;
}

.above {
  fill: #99d8c9;
}

.line {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

.parity-line {
  stroke-dasharray: 2%;
  stroke: #888;
}

.dot {    
  fill: red;
}

.label {
  font-family: Atlas Grotesk;
  font-size: 12px;
}
