@font-face {
  font-family: Atlas Grotesk;
  src: url('../fonts/AtlasGrotesk-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.band {
  fill: #fff;
  stroke-opacity: 1;
  stroke: #888;
  stroke-dasharray: 8 10;
}

.yourpath {
  stroke: #008000;
  fill: none;
  stroke-width: 2px;
}

.area {
  transform: translateX(1px);
}

.below {
  fill: #fdbb84;
}

.above {
  fill: #99d8c9;
}

.axis .tick text {
  font-family: Roboto;
  user-select: none;
}

.line {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

.dot {    
  fill: red;
}

.label {
  font-family: Atlas Grotesk;
  font-size: 12px;
}

.title {
  font-family: Atlas Grotesk;
  font-size: 14px;
  user-select: none;
}

.area-label {
  font-family: Atlas Grotesk;
  font-size: 12px;
  fill: #111;
}

.parity-line {
  stroke-dasharray: 2%;
  stroke: #222;
  opacity: 0.4;
}

.parity-label {
  font-family: Roboto;
  font-size: 11px;
  fill: #222;
  opacity: 0.8;
  user-select: none;
}

.highlighted {
  fill: yellow;
  fill-opacity: 0.4;
}
